@import url(http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic);

/* Huldlulu! */

@font-face {
  font-family: 'Publico';
  src: url('../fonts/publico-roman-webfont.eot');
  src: url('../fonts/publico-roman-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/publico-roman-webfont.woff') format('woff'), url('../fonts/publico-roman-webfont.ttf') format('truetype'), url('../fonts/publico-roman-webfont.svg#publico') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
@font-face {
  font-family: 'Publico';
  src: url('../fonts/publico-roman-webfont.eot');
  src: url('../fonts/publico-roman-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/publico-roman-webfont.woff') format('woff'), url('../fonts/publico-roman-webfont.ttf') format('truetype'), url('../fonts/publico-roman-webfont.svg#publico') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'PublicoHeadlineBlack';
  src: url('../fonts/publicoheadlineweb-black.eot');
  src: url('../fonts/publicoheadlineweb-black.eot?#iefix') format('embedded-opentype'), url('../fonts/publicoheadlineweb-black.woff') format('woff'), url('../fonts/publicoheadlineweb-black.ttf') format('truetype'), url('../fonts/publicoheadlineweb-black.svg#publico') format('svg');
  font-weight: normal;
  font-style: normal;
}

*/

@font-face {
  font-family: 'PublicoText';
  src: url('../fonts/PublicoText-Roman-Web.eot');
  src: url('../fonts/PublicoText-Roman-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/PublicoText-Roman-Web.woff') format('woff'), url('../fonts/PublicoText-Roman-Web.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoText';
  src: url('../fonts/PublicoText-Bold-Web.eot');
  src: url('../fonts/PublicoText-Bold-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/PublicoText-Bold-Web.woff') format('woff'), url('../fonts/PublicoText-Bold-Web.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PublicoText';
  src: url('../fonts/PublicoText-Italic-Web.eot');
  src: url('../fonts/PublicoText-Italic-Web.eot?#iefix') format('embedded-opentype'), url('../fonts/PublicoText-Italic-Web.woff') format('woff'), url('../fonts/PublicoText-Italic-Web.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}


/* not in use anymore

@font-face {
  font-family: 'GothamBook';
  font-weight: normal;
  src: url('../fonts/GothamBook.eot');
  src: 
    local('GothamBook'),
    url('../fonts/GothamBook.woff') format('woff'),
    url('../fonts/GothamBook.ttf') format('truetype')
  ;
}


@font-face {
  font-family: 'Gotham';
  font-weight: bold;
  src: url('../fonts/gothambold1.eot');
  src: 
    local('gothambold1'),
    url('../fonts/gothambold1.woff') format('woff'),
    url('../fonts/gothambold1.ttf') format('truetype')
  ;
}

@font-face {
	font-family: 'Gotham';
	font-weight: 100;
	src: url('../fonts/GothamLight.eot');
	src: 
    local('GothamLight'),
    url('../fonts/GothamLight.woff') format('woff'),
    url('../fonts/GothamLight.ttf') format('truetype')
  ;
}

*/
