/* variables

this file needs to be compiled by compileCss for it to work.

MenuBlue is also the color of various types of links on hover so careful when messing with it!

MenuBlue<<#4086c6
BgGray<<#aaacab
MenuGray<<#969999

ImgRoot<<../img

MainFonts<<Lato,Arial

BreakPoint1Width<<800px

*/

/* visuals (fancy sounding stuff) */

/* defaults/resets */

* {
	margin:0;
	padding:0;
	vertical-align: top;
}


body {
	font-size: 16px;
	line-height: 1.4em;
	font-family: Lato,Arial;
	/* force scrollbar to avoid the menu jumping around as the page width changes due to having or not having a scrollbar*/
	overflow-y: scroll;
}

a {
	text-decoration: inherit;
	color: inherit;
}

.link {
	font-weight: bold;
}

.link:hover {
	color:#4086c6;
}

.nc {
	text-transform: none;
}
.uc {
	text-transform: uppercase;
}
.story h2 {
	font-family: PublicoText;
	font-weight: bold;
	font-size: 1.60em;
	line-height: 1.4em;
}
.story h3
, .contact h3 
{
	font-family: Lato,Arial;
	font-weight: bold;
	font-size: 1em;
	line-height: 1.55em;
	margin-top: .2em;
	margin-bottom: .15em;
	text-transform: uppercase;
}
.story p,
.contact p {
	line-height: 1.45em;
	margin-top: 0em;
	margin-bottom:  .4em;
}

.header .name,
.big-footer .name {
	font-family: Merriweather;
	text-transform: uppercase;
}

.big-footer .name {
	display: block;
	font-size: 1.2em;
	line-height: 1.6em;
	padding-top: 6px;
}
/* aaaah, browser stylesheets wrecking my fine design! */
.header a {
	text-decoration: inherit;
	color: inherit;
}

.wrapper {
	/*
	width: 380px;
	*/
	position: relative;
}
.look-at-me {
	font-weight: bold;
}

.header .ktir-mhemm {
	opacity: .68;
	transition: opacity .5s;
}

@media(max-width: 950px) and (min-width: 800px) {
	/* menu overlaps with the long logo */
	.header .ktir-mhemm {
		opacity: .12;
	}
}

/* menu blue */

.header {
	position: relative;
}
.header .name {
	color: #4086c6;
	display: block;
}

.header .name .look-at-me {
	color: black;
}

.body .cover {
	max-width:100%;
	/* avoid breaking down when very big screen with small images */
	min-width: 100%;
}
.body .cover-overlay {
	margin: auto;
	position: absolute;
	margin:auto;
	top:0;left:0;right:0;bottom:0;
	max-width: 200px;
}
.body img.cover {
	display: block;
	line-height: 0;
}
.section {
	text-align: center;
	overflow: hidden;
	position: relative;
}
.section p, .body .button, .section .page .optional-image {
	/* no plz 
	font-size: .8em;
	line-height: 1.2em;
	*/
	margin:auto;
	margin-bottom: 1.6em;
	margin-top:1.8em;
	max-width: 400px;
}
.body .button {
	margin-top:0;
	font-size: 14px;
	line-height: 1.2em;
	padding:12px;
	padding-top:14px;
	padding-left:24px;
	padding-right: 24px;
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	background-color:#A9ABAB;
	border-radius: 20px;
	border-radius: 4em;
	margin-bottom: 2em;
}
.section.gray-ish {
	background-color: #D8D8D8;
}
.body .section.gray-ish .button {
	color:#969999;
	background-color:#F8F8F8;
}
/* keep hover rules in the end */
.body .button:hover {
	color:white !important;
	background-color: #4086c6 !important;
}

.footer {
	text-transform: uppercase;
	background-color:#231f20;
	color:white;
	/*
	height: 30px;
	*/
	padding-top: 1px;
	line-height: 4em;
	font-size: 10px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Lato,Arial;
	font-weight: 100;
}

.header .menu .items .item {
	text-transform: uppercase;
	cursor:pointer;
}


/* general spacing */

@media (min-width: 800px) {
	.story-entries
	, .section.intro-text
	, .big-thumbs
	, .website-page.news .content
	, .contact .content
	{
		padding-top: 1em;
		padding-bottom: 1em;
	}
}

/* mobile common */

@media(max-width: 799px ) {
	/* put some default padding around text and other content */
	.section p
	, .entry
	, .section .page .optional-image
	, .overlay .page-box
	{
		padding-left:18px;
		padding-right:18px;
	}
	/* on the left of the header as well */
	.header .name {
		margin-left: 12px;
	}
	.body {
		text-align: center;
		/* expand the body to cure blank space appearing after the footer on small pages */
		min-height: calc(100vh - 78px);
		font-size: .9em;
	}
}

/* desktop common */
@media (min-width: 800px) {
	.body {
		/* expand the body to cure blank space appearing after the footer on small pages */
		min-height: calc(100vh - 220px);
	}
}

/* mobile only header */

@media (max-width: 799px) {

	.header {
		height: 44px;
	}

	.header .name {
		padding:6px;
		padding-top:15px;
	}

	.header .menu .khuza3bala,
	.header .menu .items .item:hover ,
	.header .menu .items .item.selected {
		background-color: #4086c6;
	}

	.header .menu .items .item {
		background-color: #969999;
	}

	.header .menu .khuza3bala {
		/* disable collapsing margins */
		float: right;
		width: 45px;
		height: 43px;
		position: absolute;
		top:0;
		right:0;
	}
	.header .menu .khuza3bala .line {
		height: 2px;
		margin: 8px 10px 7px 10px;
		background-color: white;
	}
	.header .menu .khuza3bala .line:first-child {
		margin-top: 10px;
	}
	.header .menu {
		overflow: visible;
	}
	.header .menu .items {
		visibility: hidden;
		position: absolute;
		top:43px;
		right: 0;
		left:0;
		width:auto;
		font-family: Lato,Arial;
		font-weight: bold;
		font-size: .85em;
		line-height: 1.25em;
	}
	.header .menu .items .item {
		display: block;
		color: white;
		border-bottom: 1px solid white;
		padding-bottom: 1em;
		padding-top: 1em;
		padding-left: 1.4em;
	}
	.header .menu:hover .items {
		z-index: 100;
		visibility: visible;
	}
}

/* desktop only header */

@media (min-width: 800px) {
	.header {
		height: 55px;
		margin:0;
		top:1px;
	}

	.header .name, .header .menu {
	}
	.header .name {
		margin-left: 20px;
		margin-top:16px;
		font-size: 1.4em;
		line-height: 44px;
		margin-bottom: 15px;
	}
	.header .menu {
		position: absolute;
		font-size: .8em;
		line-height: 1.3em;
		letter-spacing: .06em;
		top:8px;
		right: 0;
		border-bottom:1px solid #4086c6;
		margin-right: 19px;
	}
	.header .menu .items .item {
		display: inline-block;
		padding:1px 10px 1px 10px;
		border-bottom:2px solid transparent;  /* make place for hover underline */
		float:left;
	}
	.header .menu .items .item.selected,
	.header .menu .items .item:hover {
		border-bottom: 2px solid #4086c6;
	}
}

/* slideshow arrows on desktop */

.slideshow-nav .arrow
, .overlays-nav .arrow {
	height:104px;
	width:53px;
	z-index: 0;
	cursor: pointer;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin:auto;
}

.arrow {
	height: 90%;
}


@media (min-width: 800px) {
	.slideshow-nav .arrow
	, .overlays-nav .arrow {
		visibility: visible;
		height:90px;
		background-size: 88%;
		background-repeat: no-repeat;
		width:53px;
		transition:opacity .5s;
	}
	.overlays-nav .arrow,
	.overlays-nav .x-btn {
		opacity: .75;
	}
	.gray-ish .slideshow-nav .arrow {
		z-index: 10;
		box-shadow: none;
	}
	.slideshow-nav .arrow.right
	{
		background-image: url(../img/arrow-white_next.png);
	}
	.slideshow-nav.first .arrow.left,
	.overlays-nav.first .arrow.left,
	.slideshow-nav.last .arrow.right,
	.overlays-nav.last .arrow.right
	{
		opacity: .2;
		cursor: default;
	}
	.slideshow-nav .arrow.left
	{
		background-image: url(../img/arrow-white_previous.png);
	}
	.gray-ish .slideshow-nav .arrow.right
	, .overlays-nav .arrow.right
	{
		background-image: url(../img/arrow-black_next.png);
	}
	.gray-ish .slideshow-nav .arrow.left
	, .overlays-nav .arrow.left
	{
		background-image: url(../img/arrow-black_previous.png);
	}
	.slideshow-nav .arrow.right
	, .overlays-nav .arrow.right
	{
		margin-right: 3%;
	}
	.slideshow-nav .arrow.left
	, .overlays-nav .arrow.left
	{
		margin-left:3%;
	}
}

/* slideshow general stuff */

.slideshow .page .content {
	margin: auto;
}

.slideshow .slideshow-overlay {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 0;
	margin:auto;
	height:72%;
	display: inline-block;
	z-index: 1;
}
/* not in use anymore
.slideshow .slideshow-overlay img {
	display: block;
	height: 100%;
	margin:auto;
}
*/


/* "home" general stuff */

.section.branch-logos {
	margin-top: 30px;
	margin-bottom: 30px;
}

.section.branch-logos a img {
	max-height: 200px;
	margin:10px;
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
}


/* home "news" with photo on desktop */

@media (min-width: 800px) {
	.slideshow {
		position: relative;
		overflow: hidden;
	}
	.slideshow .slideshow-pane {
		width:100000px;
		overflow: hidden;
	}
	.slideshow .slideshow-nav .arrow {
		z-index: 20;
	}
	.slideshow .page {
		position: relative;
		float: left;
		width:100vw;
	}
	.slideshow .page.has-image .content {
		overflow: hidden; /* keep button from floating too (why it does that, I'm not sure) */
	}
	.slideshow .page.has-image .content {
		width:740px;
	}
	.slideshow .page.has-image:first-child {

	}

	.slideshow .page.has-image .optional-image {
		float: left;
		width:268px;
		padding-top: 3px;
		margin-right:20px;
		margin-left: 30px;
	}

	.slideshow .page.has-image .main-text {
		text-align: left;
		float: left;
	}

	.section:hover .slideshow-pane,
	.slideshow:hover .slideshow-pane,
	[slideshow-id]:hover .slideshow-pane {
		/* restrict effect to hover (when mouse is over element 
		 *	- therefore user most probably cannot resize) 
		 *	to avoid weird effects when resizing window 
		 */
		transition: left .15s;
	}

	.slideshow-pane {
		position: relative;
	}

	.slideshow-pane.position-1 {
		left:0;
	}
	.slideshow-pane.position-2 {
		left:-100vw;
	}
	.slideshow-pane.position-3 {
		left:-200vw;
	}
	.slideshow-pane.position-4 {
		left:-300vw;
	}
	.slideshow-pane.position-5 {
		left:-400vw;
	}
	.slideshow-pane.position-6 {
		left:-500vw;
	}
	.slideshow-pane.position-7 {
		left:-600vw;
	}
	.slideshow-pane.position-8 {
		left:-700vw;
	}
	.slideshow-pane.position-9 {
		left:-800vw;
	}
	.slideshow-pane.position-10 {
		left:-900vw;
	}
	.slideshow-pane.position-11 {
		left:-1000vw;
	}

	/* SlideshowPane<<<.slideshow-pane.position-<n> {
		left:-<(n-1)*100>vw;	
		} >>> */
}

/* home news for mobile */

@media(max-width: 799px) {
	.slideshow .page.has-image .optional-image {
		display: none;
	}
	.slideshow.desktop-only .slideshow-pane {
		width:auto;
	}
	.slideshow.desktop-only .page {
		display: block;
		float: none;
	}
}

/* euh extra safety */

.big-thumbs,
.story .entries {
	margin:auto;
}



/* story for desktop */

@media(min-width: 800px) {
	.story .entry .text,
	.story .entry .image-box {
		box-sizing: border-box;
		padding:10px;
	}

	.story .entry {
		overflow: hidden;
		width: 100%
	}

	.story .quicknav .button.go-up {
		padding:5px;
		line-height: 0px;
		cursor: pointer;
	}

	.story .entry:nth-child(even).quicknav .button.go-up {
		float: right;
	}

	.story .quicknav .button.go-up img.go-up {
		height: 2em;
	}

	/*left column */
	.story .entry:nth-child(even) .text,
	.story .entry:nth-child(odd) .image-box
	{
		float: left;
	}
	/* - align text and images to the right */
	.story .entry:nth-child(even) .text .text-content
	, .story .entry:nth-child(odd) .image-box .image
	{
		float: right;
	}
	.story .entry:nth-child(even) .text {
		text-align: right;
	}
	/* right column */
	.story .entry:nth-child(even) .image-box,
	.story .entry:nth-child(odd) .text
	{
		float: right;
	}
	/* common */
	.story .entry .text,
	.story .entry .image-box {
		width: 50%;
	}
	/* limit column width */
	.story .entry .text .text-content,
	.story .entry .image-box .image {
		max-width: 40em;
	}
	.story .entry .image {
		margin-top: 11px;
		min-height: 26px;
	}
	/* limit width */
	.story-entries {
		padding-left: 20px;
		padding-right: 20px;
		max-width: 1100px;
	}
	.story .entry {
		margin-top:1em;
		margin-bottom: 1em;
	}

}

/* story for mobile */


@media(max-width: 799px ) {
	.slideshow.image-slideshow .page {
		display: none;
		visibility: hidden;
	}
	.slideshow.image-slideshow .page:nth-child(1) {
		display: block;
		visibility: visible;
	}
	.slideshow.image-slideshow .slidshow-pane {
		left:0;
	}
	.story .entry {
		overflow: hidden;
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.story-entries .entry .image {
		max-width: 100%;
	}

	/* hide navigation ("quicknav") buttons */
	.quicknav {
		display: none;
		visibility: hidden;
	}
}


/* places general */

.places.items .item .bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	/*
	border-radius: 4px;
	*/
}

.places.items .item:nth-child(1) .bg { background-image: url(../img/places/1.0.jpg);}
.places.items .item:nth-child(1):hover .bg { background-image: url(../img/places/1.1.jpg);}

.places.items .item:nth-child(2) .bg { background-image: url(../img/places/2.0.jpg);}
.places.items .item:nth-child(2):hover .bg { background-image: url(../img/places/2.1.jpg);}

.places.items .item:nth-child(3) .bg { background-image: url(../img/places/3.0.jpg);}
.places.items .item:nth-child(3):hover .bg { background-image: url(../img/places/3.1.jpg);}

.places.items .item:nth-child(4) .bg { background-image: url(../img/places/4.0.jpg);}
.places.items .item:nth-child(4):hover .bg { background-image: url(../img/places/4.1.jpg);}

/* big thumbs common */

.big-thumbs.items {
	overflow: hidden;
	text-align: center;
}
.big-thumbs.items .item {
	/* override a */
	vertical-align: top;
	text-decoration: inherit;
	color: inherit;
	display: inline-block;
	margin-bottom: 11px;
	width: 500px;
	max-width: 100%;
}

.big-thumbs.items .item .caption {
	text-align: center;
	margin:18px;
	margin-bottom: 22px;
}

/* big-thumbs / places desktop */

@media(min-width: 800px) {
	.big-thumbs.items .item .bg {
		height: 174px;
	}
	.big-thumbs.items {
		margin-right: 10px;
		margin-left: 10px;
		max-width: 1400px;
		display: inline-block;
	}
	.wrapper.places .body {
		text-align: center;
	}
	.big-thumbs.items .item {
		margin-right: 10px;
		margin-left: 10px;
	}
}


/* big-thumbs / places mobile */

@media(max-width: 799px) {
	.big-thumbs.items .item .bg {
		height: 9em;
	}
	.big-thumbs.items .item .bg {
		/* separate from header, especially menu button */
		margin-top:1px;
	}
}

/* control slideshow 1 height */

.slideshow-1 {

}

/* hide some elements on mobile */

@media(max-width: 799px) {
	.big-footer
	, .slideshow.hideable
	, overlays.nav .arrow.left
	, overlays.nav .arrow.right
	{
		visibility: hidden;
	}
	.big-footer {
		display: none;
	}
}

@media(min-width: 800px) {
	/* big footer desktop stuff */
	.big-footer {
		/* height: 170px; */
		color:white;
		overflow: hidden;
		background-color: #aaacab;
	}
	.big-footer .contents {
		padding-top:5px;
		padding-bottom:5px;
		padding-left:9px;
		padding-right: 9px;
		margin:auto;
		overflow: hidden;
	}
	.big-footer .name {
		position: relative;
		top:-3px;
		font-size: 1.55em;
		line-height: 1.32em;
	}
	.big-footer .col {
		float: left;
		width:185px;
		min-width:185px;
		width: 25%;
		box-sizing: border-box;
		padding-left: 11px;
		padding-right: 40px;
		/* design
		margin-top:34px;
		margin-bottom:28px;
		*/
		margin-top:19px;
		margin-bottom:11px;
	}
	.big-footer .name,
	.places-list .place-name,
	.big-footer div.places .place-name /* .places clashes with a classes on the bottom menu */ {
		font-family: MerriWeather;
	}

	.big-footer div.places .place {
		margin-top:9px;
		margin-bottom:3px;
		display: block;
	}

	.places-list .place .place-name,
	.big-footer div.places .place .place-name {
		font-weight: bold;
		font-size: 1.2em;
	}

	.big-footer div.places .place .place-contact 
	, .places-list .place .place-contact 
	{
		font-size: .8em;
		font-weight: normal;
	}

	.big-footer .bottom-menu {
		margin-top:4px;
		font-family: Lato,Arial;
		font-size: .8em;
		line-height: 1.3em;
		text-transform: uppercase;
	}

	.big-footer .bottom-menu a {
		display: block;
		text-decoration: inherit;
		color:inherit;
	}

	.big-footer a:hover {
		color:#4086c6;
	}
}

/* team / square thumbs */

.body .team {
	/* center align thumbns */
	text-align: center;
}

.squarethumbs {
	/* shrink wrap */
	overflow: hidden;
	display: inline-block;
	width: auto;
	/* redundant
	margin:auto;
	*/
}

/* adjust margins */

.body .team .squarethumbs {
	margin: 7px;
	text-align: center;
}

@media(min-width: 800px) {
	.body .team .squarethumbs {
		margin-top: 42px;
		margin-bottom: 30px;
	}
}

@media(max-width: 799px) {
	.body .team .squarethumbs {
		margin-bottom: 5px;
	}
}

/* manually avoid lonely thumbs */
@media(max-width: 1150px) {
	.body .team .squarethumbs {
		max-width: 800px;
	}
}

.team .squarethumbs .item  {
	cursor: pointer;
}

.squarethumbs .item  {
	margin:9px;
	margin-bottom:0;
	vertical-align: top;
	display: inline-block;
	min-height: 250px;
}

.squarethumbs .item .caption-box {
	margin-top:.8em;
	margin-bottom: .4em;
	max-width: 175px;
}

.squarethumbs .item  .name {
	font-family: MerriWeather;
	font-weight: bold;
	font-size: 1.1em;
	text-transform: uppercase;
}

.squarethumbs .item  .title {
	font-size: .9em;
	line-height: 1.2em;
	text-transform: uppercase;
}

.squarethumbs .item .portrait-box {
	width: 184px;
	height: 184px;
	background-color: #ddd;
	overflow: hidden;
}

.squarethumbs .item .portrait-box > img {
	max-width: 100%;
}

/* overlays */

/* disable main scrollbar when in overlay mode */
body.overlay-on {
	overflow-y:hidden;
}
/* only show overlay when .overlay-on is set on body */
.overlays
, .overlays-nav {
	visibility: hidden;
	opacity: 0;
	transition: visibility 1s, opacity 1s, z-index 1s step-end;
	z-index: -1000;
}
.overlays-nav {

 }
.overlays {
	position: fixed;
	top:0;left:0;right: 0; bottom: 0;
	background-image: url(../img/white90.png);
}
/*transition stuff*/
.overlays .overlay .page-box
, .overlays-nav
{
	transition: opacity .3s, visibility .3s;
}
body.overlay-on .overlays
, body.overlay-on .overlays-nav
{
	display: block;
	z-index: 500;
	visibility: visible;
	opacity: 1;
	transition: visibility 1s, opacity 1s, z-index 0s step-end;
}
body:not(.overlay-on) .overlays
, body:not(overlay-on) .overlays-nav {
}

.overlays .overlay {
	visibility: hidden; /* hide by default */
	position: absolute;
	opacity: 0;
	top:0;
	right:0;
	bottom:0;
	left:0;
}
.overlays .overlay.visible {
	z-index: 1000;
	visibility: visible;
	opacity: 1;
}
.overlays .overlay .page-box {
	box-shadow:3px 3px 20px rgba(110,110,110,.65);
	text-align: left;
	max-width: 790px;
	box-sizing:border-box;
	background-color: white;
	margin: auto;
	overflow-y: auto;
	padding-top:20px;
	max-height: 100%; /* fallback */
}

@media (min-width: 800px ) {
	.overlays .overlay .page-box {
		padding:65px;
		padding-top:50px;
		padding-bottom:45px;
		margin-top: 60px;
		max-height: calc( 100% - 60px );
	}
}

.overlays .overlay .page-box .name {
	font-family: MerriWeather;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
}

.overlays .overlay .page-box .alias::before {
	content: "aka ";
}

.overlays .overlay .page-box .title-box{
	line-height: 1em;
	font-size: 1.1em;
	margin-bottom: 1.4em;
}

.overlays .overlay .page-box .alias {
	font-style: italic;
	font-size: .9em;
}

.overlays .overlay .page-box .title {
	text-transform: uppercase;
	font-size: .75em;
}

.overlays .overlay .page-box p {
	margin-bottom: 1em;
}

.overlays .overlays-nav .arrow {
	z-index: 1001;
}

.overlays .overlays-nav .x-btn {
	background-image: url(../img/close-btn.png);
	overflow: hidden;
	position: absolute;
	width: 53px;
	height: 53px;
	right:3%;
	top:20px;
	bottom:auto;
	left:auto;	
	z-index: 2000;
	cursor:pointer;
}


/* form general stuff */

/* reset and defaults */


::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}

form input[type=submit]
, form input[type=text]
, form input[type=email]
, form textarea
{
	border:0;
	background-color: #aaacab;
	display: block;
	min-width: auto;
	box-sizing:border-box;
	margin-bottom: 15px;
	min-height: 1.4em;
	line-height: inherit;
	font-size: inherit;
	font-family: inherit;
	padding:7px 10px 5px 10px;
}

form input[type=text]
, form input[type=email]
, form textarea {
	width:100%;
}

form textarea {
	resize:vertical;
	overflow: auto;
	min-height:10em;
}

form input {
	display: block;
}

/* contact */

.contact form input
, .contact form
, .contact form textarea 
{
	float:right;
}

.contact .job-title {
	text-transform:uppercase;
}

/* contact page */

.contact  .cols {
	margin:auto;
	overflow:hidden;
	text-align:center;
	max-width: 950px;
	margin-top:15px;
	margin-bottom:10px;
}
.contact .cols  .col {
	display:inline-block;
	vertical-align:top;
	box-sizing: border-box;
}
.contact .cols .col2 {
	padding-right: 1.6em;
	padding-left: 1.6em;
}


.contact form {
	padding-left:.9em;
	padding-right: .9em;	
}

.contact .cols .col2-1
, .contact .cols .col2-2
{
	/* text stufff */
	padding-left:.9em;
	padding-right: .9em;
	min-width: 195px;
	text-align:center;
}

.contact .cols .contact-form {
	text-align:left;
}

@media(min-width: 500px ) {
	.contact .cols .col2-1
	, .contact .cols .col2-2 {
		max-width: 200px;
	}
	 .contact form 
	{
		max-width: 350px;
	}
}


/* news */

.website-page.news .content {
	max-width: 1050px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 36px;
	margin:auto;
	overflow: hidden; /* to clear any floats */
}

.website-page.news .content .news-items .item .item-header .item-title {
	font-weight: bold;
	text-transform: uppercase;
}

.news .news-items .item {
	margin-bottom: 1.6em;
}
.news-items .item[tags]
,.news-items .default-message
{
	/* hide selectable items by default */
	display: none;
}
.news-items .default-message.selected {
	display: block;
}

.website-page.news .content .news-items .item .item-text {
	margin-bottom: .8em;
}

@media(min-width: 800px ) {
	.news-items .item {
		margin-right: 270px;
		max-width: 870px;
	}
	.news .filter {
		max-width: 250px;
		float: right;
		margin-top:20px;
		margin-bottom: 20px;
	}
	.news .filter li {
		list-style-type: none;
	}
	.news .filter li.selected {
		list-style-type: square;
	}
	.news .filter li:not(.selected) {
		cursor: pointer;
	}
	.news .filter li:not(.selected):hover {
		color:#4086c6;
	}
	.news .news-items {
		display: table;
		border-spacing:20px;
		position: relative;
		left:-20px;
	}
	.news .news-items .item:not([tags])
	, .news-items .item[tags].selected
	{
		display: table-row;
	}
	.news .item .image-container
	, .news .item .text-container {
		display: table-cell;
	}
	.news .item .image-container {
		padding-top:3px;
		width: 253px;
		min-height: 100px;
	}
	.news-item .image-container > img {		
		width: 100%;
	}
}

@media(max-width: 799px ) {
	.news .filter {
		visibility: hidden;
		display: none;
	}
	.news .news-items .item:not([tags])
	, .news-items .item[tags].selected
	{
		display: block;
	}
}
